// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source extras for U-Boot for the Moonraker
 * Copyright (C) Nvidia
 */

#include "ast2600-e4830-nvidia.dts"

/ {
	model = "AST2600 Moonraker";
	compatible = "aspeed,ast2600-evb", "aspeed,ast2600";
	config {
		bootdelay = <(-2)>;
		bootsecure = <1>;
		bootcmd = "boot";
	};
};

&mac2 {
	status = "okay";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii3_default &pinctrl_mac3link_default>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&scu {
	mac2-clk-delay = <0x08 0x00
			  0x08 0x00
			  0x08 0x00>;
};

&i2c2 {
	status = "okay";
	eeprom@50 {
		compatible = "st,24c128", "atmel,24c128";
		reg = <0x50>;
		pagesize = <64>;
		offset_len = <2>;
		eth2macoffset = <0xff 0xff 0x79 0xff 0xff 0xff>;
	};
};
