CONFIG_ARM=y
CONFIG_TARGET_MELLANOX_AST2500BLUESPHERE=y
CONFIG_ARCH_ASPEED=y
CONFIG_ASPEED_AST2500=y
CONFIG_LOCALVERSION=" Mellanox AST2500 BlueSphere"
CONFIG_SYS_ARCH="arm"
CONFIG_SYS_CPU="arm1176"
CONFIG_SYS_SOC="aspeed"
CONFIG_SYS_VENDOR="nvidia"
CONFIG_SYS_BOARD="mlnxast2500bluesphere"
CONFIG_SYS_CONFIG_NAME="mlnxast2500bluesphere"
CONFIG_AUTOBOOT=y
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="\nBooting the BMC in %d seconds. Type the password to stop autoboot.\n"
CONFIG_AUTOBOOT_STOP_STR="0penBmc"
CONFIG_ASPEED_NET_PHY=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_PHY_REALTEK=y
CONFIG_SYS_NS16550=y
CONFIG_CMD_FPGA=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_CMDLINE=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="BMC:U-Boot=> "
CONFIG_CMD_SF=y
CONFIG_BOOTDELAY=5
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_NETDEVICES=y
CONFIG_OF_LIBFDT=y
CONFIG_CMD_GREPENV=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MII=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_CMD_MTDPARTS=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_USE_ENV_SPI_BUS=y
CONFIG_ENV_SPI_BUS=2
CONFIG_USE_ENV_SPI_CS=y
CONFIG_ENV_SPI_CS=0
CONFIG_USE_ENV_SPI_MAX_HZ=y
CONFIG_ENV_SPI_MAX_HZ=100000000
CONFIG_EXPERT=y
CONFIG_REGEX=y
CONFIG_CMD_IMI=y
CONFIG_CMD_IMLS=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_CRC32=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_SPL_OF_TRANSLATE=y
CONFIG_CLK=y
CONFIG_DM_GPIO=y
CONFIG_ASPEED_GPIO=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_ASPEED=y
CONFIG_MISC=y
CONFIG_DM_MMC=y
CONFIG_DM_SPI_FLASH=y
CONFIG_DM_ETH=y
CONFIG_LOOPW=y
CONFIG_PINCTRL=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MX_CYCLIC=y
CONFIG_FIRMWARE_2ND_BOOT=y
CONFIG_SYS_MALLOC_F_LEN=0x6000
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x0
CONFIG_WDT_ASPEED=y
CONFIG_WDT_EARLY_BOOT=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_ARCH_CPU_INIT=y
CONFIG_DM=y
CONFIG_NR_DRAM_BANKS=1

CONFIG_MTD=y

CONFIG_TIMER=y
CONFIG_WDT=y
CONFIG_SYSRESET=y
CONFIG_ASPEED_SPI=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_FLASH_CFI_DRIVER=y
CONFIG_FLASH_CFI_MTD=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_I2C_EEPROM=y
CONFIG_CMD_I2C=y
CONFIG_CMD_EEPROM=y
CONFIG_SYS_I2C_EEPROM_ADDR_LEN=2
CONFIG_FIXED_PHY_APPLY=y

CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_WDT_EARLY_BOOT=y
CONFIG_MACADDR_IN_EEPROM=y
CONFIG_HAS_ETH1=y
CONFIG_MISC_INIT_R=y
CONFIG_ASPEED_ECC=y
CONFIG_ASPEED_ECC_SIZE=0